/* NavBar, My Name and about me */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Everything else */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  box-sizing: border-box;
  background-color: #C5C6C7;
  text-decoration: none;
}

/* NavBar */
.NavBar {
  display: flex;
  justify-content: space-around;
  border: 3px solid #66fcf1;
  padding: 8px;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Righteous", sans-serif;
}

.NavBar a:visited {
  color: black;
}

/* Home Page */
.home {
  color: #45A29E;
  text-align: center;
  font-family: "Righteous", sans-serif;
}

/* Contact Me Page */

p {
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}


/* Project Page */

button {
  margin: 3px;
  font-family: "Righteous", sans-serif; 
}

.project button:hover {
  background-color: #66fcf1;
  color: whitesmoke;
} 

/* Footer */
.footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.footer-right  a {
  text-align: center;
  display: inline-block;
}