/* NavBar, My Name and about me */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Everything else */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}

/* NavBar */
.NavBar {
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  position: absolute;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
  font-family: "Righteous", sans-serif;
  font-size: 45px;
}

.NavBar a:visited {
  color: white;
}


/* Home/About Page */
.about {
  color: #45A29E;
  text-align: center;
  font-family: "Righteous", sans-serif;
}

.about img {
  border-radius: 50px;
  max-width: 300px;
  max-height: 3000px;
}

/* Contact Me Page */

p {
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}


/* Project Page */
.container-projects {
  margin-top: 75px;
}


button {
  margin: 3px;
  font-family: "Righteous", sans-serif; 
}

.project button:hover {
  background-color: #66fcf1;
  color: whitesmoke;
} 

/* Footer */
.footer nav {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  font-family: "Righteous", sans-serif;
}