* {
    box-sizing: border-box;
    background-color: #C5C6C7;
    text-decoration: none;
}

header > h1 {
    color: #66fcf1;
}

.home {
    color: #45A29E;
    text-align: center;
}

button {
    margin: 3px;
    
}

p {
    width: 90%;
    margin: auto;
}

.project button:hover {
    background-color: #66fcf1;
    color: whitesmoke;
} 

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

/* display: flex;
justify-content: space-around;
border: 3px solid #66fcf1;
width: 90%;
margin: auto;
align-items: flex-end;
color: #66fcf1;
position: relative;
bottom: 0; */
